* {
	 margin: 0;
	 border: 0;
	 padding: 0;
	 box-sizing: border-box;
}
 @font-face {
	 font-family: 'Rubik';
	 src: local('Rubik'), local('Rubik-Regular'), url('../font/rubik/Rubik.woff2') format('woff2'), url('../font/rubik/Rubik.woff') format('woff');
	 font-weight: 400;
	 font-style: normal;
}
 @font-face {
	 font-family: 'Rubik';
	 src: local('Rubik Medium'), local('Rubik-Medium'), url('../font/rubik/Rubikmedium.woff2') format('woff2'), url('../font/rubik/Rubikmedium.woff') format('woff');
	 font-weight: 500;
	 font-style: normal;
}
 @font-face {
	 font-family: 'Rubik';
	 src: local('Rubik Bold'), local('Rubik-Bold'), url('../font/rubik/Rubikbold.woff2') format('woff2'), url('../font/rubik/Rubikbold.woff') format('woff');
	 font-weight: 700;
	 font-style: normal;
}
 body {
	 font-family: 'Rubik';
	 font-weight: 400;
}
 a {
	 text-decoration: none;
	 transition: 0.3s all ease-in-out;
}
 a:hover {
	 text-decoration: none;
	 transition: 0.3s all ease-in-out;
}
 .container {
	 width: 1200px;
	 margin: 0 auto;
}
 nav {
	 padding: 17px 0;
	 display: flex;
	 align-items: center;
	 justify-content: space-between;
}
 nav .logo {
	 font-family: 'Rubik';
	 font-weight: 700;
	 font-size: 26px;
	 line-height: normal;
	 color: #08200e;
}
 .lang__picker {
	 position: relative;
}
 .lang--actual {
	 font-size: 14px;
	 font-family: 'Rubik';
	 font-weight: 400;
	 color: #000;
	 line-height: normal;
	 display: flex;
	 align-items: center;
	 cursor: pointer;
}
 .lang--actual .arrow {
	 width: 16px;
	 height: 16px;
	 margin-left: 8px;
}
 .lang__list {
	 position: absolute;
	 top: calc(100% + 9px);
	 background: white;
	 width: 64px;
	 box-shadow: 0 1px 5px 0 rgba(58, 57, 57, 0.1);
	 right: 0;
	 max-height: 0;
	 transition: 0.3s all ease-in-out;
	 overflow: hidden;
	 opacity: 0;
	 padding: 8px 0;
}
 .lang__list li {
	 list-style-type: none;
	 background: white;
	 transition: 0.3s all ease-in-out;
}
 .lang__list li:hover {
	 background: #e7f5ee;
	 transition: 0.3s all ease-in-out;
}
 .lang__list a {
	 padding: 8px 18px;
	 font-family: 'Rubik';
	 font-weight: 400;
	 font-size: 14px;
	 line-height: normal;
	 color: black;
	 display: inline-block;
	 width: 64px;
	 text-align: center;
}
 .lang.open .lang__list {
	 max-height: 30vh;
	 transition: 0.3s all ease-in-out;
	 opacity: 1;
}
 .lang.open .lang--actual .arrow {
	 transform: rotate(180deg);
}
 .header--header {
	 position: relative;
	 padding-top: 31px;
	 padding-bottom: 48px;
}
 .header--header .text__block {
	 max-width: 520px;
}
 .header--header .text__block h1 {
	 font-family: 'Rubik';
	 font-weight: 700;
	 font-size: 36px;
	 line-height: 1.33;
	 color: #169a5a;
	 margin-bottom: 16px;
	 max-width: 80%;
}
 .header--header .text__block p {
	 font-family: 'Rubik';
	 font-weight: 400;
	 font-size: 18px;
	 line-height: 1.78;
	 color: #7b8488;
}
 .header--header .top__img {
	 position: absolute;
	 right: 0;
	 bottom: 0;
	 width: 601px;
	 height: 390px;
	 object-fit: contain;
}
 .car__filter {
	 border-bottom: 2px solid #169a5a;
	 width: 100%;
	 box-shadow: 0 20px 30px 0 rgba(58, 57, 57, 0.1);
	 margin-bottom: 56px;
}
 .car__filter form {
	 display: flex;
	 align-items: center;
}
 .car__filter .w-188 {
	 width: 188px;
	 flex-shrink: 0;
}
 .car__filter .w-168 {
	 width: 167px;
	 flex-shrink: 0;
}
 .car__filter .w-104 {
	 width: 103px;
	 flex-shrink: 0;
}
 .car__filter .w-77 {
	 width: 76px;
	 flex-shrink: 0;
}
 .car__filter .input__wrapp {
	 position: relative;
}
 .car__filter .input__wrapp:hover {
	 background: #fafafa;
}
 .car__filter .input__wrapp--header {
	 height: 72px;
	 padding: 24px 28px;
	 position: relative;
	 transition: 0.3s all ease-in-out;
	 cursor: pointer;
	 border-right: 1px solid #efefef;
}
 .car__filter .input__wrapp--header input {
	 background: transparent;
	 width: 100%;
	 height: 100%;
	 font-family: 'Rubik';
	 font-weight: 400;
	 font-size: 14px;
	 line-height: normal;
	 color: black;
	 transition: 0.3s all ease-in-out;
	 opacity: 0;
}
 .car__filter .input__wrapp--header input:active, .car__filter .input__wrapp--header input:focus {
	 outline: none;
}
 .car__filter .input__wrapp--header label {
	 position: absolute;
	 font-family: 'Rubik';
	 font-weight: 400;
	 font-size: 14px;
	 line-height: normal;
	 color: black;
	 top: 50%;
	 transition: 0.3s all ease-in-out;
	 transform: translateY(-50%);
}
 .car__filter .input__wrapp--header .arrow__icon {
	 width: 16px;
	 position: absolute;
	 top: calc(50% - 8px);
	 transition: 0.3s all ease-in-out;
	 transform: rotate(0);
	 right: 24px;
}
 .car__filter .input__wrapp--footer {
	 position: absolute;
	 width: 100%;
	 top: calc(100% + 3px);
	 background: white;
	 box-shadow: 0 1px 5px 0 rgba(58, 57, 57, 0.1);
	 background-color: #fff;
	 max-height: 0;
	 overflow: hidden;
}
 .car__filter .input__wrapp--footer li {
	 list-style-type: none;
	 padding: 8px 24px;
	 font-family: 'Rubik';
	 font-weight: 400;
	 font-size: 14px;
	 color: black;
	 line-height: normal;
	 transition: 0.3s all ease-in-out;
}
 .car__filter .input__wrapp--footer li:hover {
	 background: #e7f5ee;
	 transition: 0.3s all ease-in-out;
	 cursor: pointer;
}
 .car__filter .input__wrapp.active .input__wrapp--header {
	 background: #fafafa;
}
 .car__filter .input__wrapp.active .input__wrapp--header .arrow__icon {
	 transition: 0.3s all ease-in-out;
	 transform: rotate(180deg);
}
 .car__filter .input__wrapp.active .input__wrapp--footer {
	 max-height: 320px;
	 overflow-y: auto;
	 transition: 0.3s all ease-in-out;
}
 .car__filter .input__wrapp.selected .input__wrapp--header input {
	 opacity: 1;
	 transition: 0.3s all ease-in-out;
	 transition-delay: 0.2s;
}
 .car__filter .input__wrapp.selected .input__wrapp--header label {
	 font-size: 12px;
	 color: #7b8488;
	 transform: translateY(0);
	 transition: 0.3s all ease-in-out;
	 top: 8px;
}
 .car__filter button {
	 background: #169a5a;
	 color: white;
	 display: flex;
	 align-items: center;
	 padding: 24px 23px;
	 width: 270px;
	 justify-content: center;
	 margin-left: auto;
	 font-size: 16px;
	 line-height: normal;
	 letter-spacing: normal;
	 color: #fff;
	 white-space: nowrap;
	 font-family: 'Rubik';
	 font-weight: 500;
	 cursor: pointer;
	 transition: 0.3s all ease-in-out;
}
 .car__filter button:hover {
	 background: #13844d;
	 transition: 0.3s all ease-in-out;
}
 .car__filter button img {
	 width: 24px;
	 height: 24px;
	 margin-right: 8px;
}
 .date_picker__wrapp {
	 display: flex;
}
 .date_picker__wrapp .check__data {
	 display: flex;
}
 .date_picker__wrapp .data__select .input__wrapp--header {
	 border-right: unset;
	 padding-right: 10px;
	 width: 100%;
}
 .date_picker__wrapp .data__select .input__wrapp--header .arrow__icon {
	 right: 10px;
}
 .date_picker__wrapp #timeChekIn, .date_picker__wrapp #timeChekOut {
	 width: 150px;
}
 .date_picker__wrapp .time__select .input__wrapp--header {
	 padding-left: 6px;
	 border-right: unset;
	 padding-right: 8px;
	 width: 100%;
}
 .date_picker__wrapp .time__select .input__wrapp--header .arrow__icon {
	 right: 8px;
}
 .date_picker__wrapp hr {
	 margin: 0;
	 height: 1px;
	 background: #efefef;
	 width: 23px;
	 margin-top: 36px;
}
 h2.section__title {
	 font-family: 'Rubik';
	 font-weight: 400;
	 font-size: 32px;
	 line-height: normal;
	 margin-bottom: 32px;
	 color: #08200e;
}
 .popular__section {
	 margin-bottom: 96px;
}
 .popular__section .cards__layout {
	 display: flex;
}
 .car, .car__card--vertical {
	 width: 270px;
	 height: 370px;
	 padding: 24px 12px 20px 6px;
	 border-radius: 4px;
	 border: solid 1px #efefef;
	 background-color: #fff;
	 margin-right: 40px;
}
 .car:last-child, .car__card--vertical:last-child {
	 margin-right: 0;
}
 .car .car__type, .car__card--vertical .car__type {
	 font-family: 'Rubik';
	 font-weight: 500;
	 font-size: 24px;
	 line-height: normal;
	 color: #169a5a;
	 margin-bottom: 10px;
	 text-align: center;
}
 .car .car__brand, .car__card--vertical .car__brand {
	 font-family: 'Rubik';
	 font-weight: 400;
	 font-size: 16px;
	 line-height: normal;
	 color: #08200e;
	 text-align: center;
	 margin-bottom: 12px;
}
 .car .car__img, .car__card--vertical .car__img {
	 width: 246px;
	 height: 140px;
	 object-fit: contain;
	 margin-bottom: 12px;
}
 .car .car__params, .car__card--vertical .car__params {
	 border-top: 1px solid #efefef;
	 border-bottom: 1px solid #efefef;
	 padding: 12px 18px;
	 display: flex;
	 align-items: center;
}
 .car .param, .car__card--vertical .param {
	 display: flex;
	 align-items: center;
	 margin-right: 24px;
}
 .car .param:last-child, .car__card--vertical .param:last-child {
	 margin-right: 0;
}
 .car .param__icon, .car__card--vertical .param__icon {
	 width: 24px;
	 height: 24px;
	 margin-right: 8px;
	 flex-shrink: 0;
}
 .car .param__data, .car__card--vertical .param__data {
	 font-size: 14px;
	 font-family: 'Rubik';
	 font-weight: 400;
	 color: black;
	 line-height: normal;
}
 .car .car__price, .car__card--vertical .car__price {
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 padding-top: 20px;
}
 .car .car__price p, .car__card--vertical .car__price p {
	 display: inline;
	 text-align: center;
}
 .car .car__price .text, .car__card--vertical .car__price .text {
	 font-family: 'Rubik';
	 font-weight: 400;
	 font-size: 16px;
	 line-height: normal;
	 color: #7b8488;
	 margin-right: 12px;
}
 .car .car__price .price, .car__card--vertical .car__price .price {
	 color: #169a5a;
	 font-family: 'Rubik';
	 font-weight: 500;
	 line-height: normal;
	 font-size: 24px;
}
 .description__section {
	 margin-bottom: 96px;
	 display: flex;
}
 .description__section .decorative__img {
	 width: 481px;
	 height: 291px;
	 object-fit: contain;
	 margin-left: auto;
	 flex-shrink: 0;
}
 .description__section .text__block {
	 width: 50%;
}
 .description__section .text__block h2.section__title {
	 margin-bottom: 24px;
}
 .description__section .text__block p {
	 font-family: 'Rubik';
	 font-weight: 400;
	 font-size: 18px;
	 line-height: 1.78;
	 color: #7b8488;
	 margin-bottom: 27px;
}
 .description__section .text__block li {
	 position: relative;
	 padding-left: 40px;
	 list-style-type: none;
	 font-family: 'Rubik';
	 font-weight: 400;
	 font-size: 16px;
	 letter-spacing: normal;
	 color: #08200e;
	 margin-bottom: 16px;
}
 .description__section .text__block li:before {
	 content: '';
	 display: block;
	 width: 24px;
	 height: 24px;
	 background: transparent url(../img/icon/icon-check.png) center center;
	 background-size: contain;
	 position: absolute;
	 left: 0;
	 top: 50%;
	 transform: translateY(-50%);
}
 .warranty__section {
	 margin-bottom: 96px;
}
 .warranty__section h2.section__title {
	 text-align: center;
}
 .warranty__section .card__layout {
	 display: flex;
}
 .warranty__section .warranty__card {
	 width: calc((100% - 42px * 2) / 3);
	 margin-right: 42px;
	 border-radius: 4px;
	 box-shadow: 0 5px 10px 0 rgba(58, 57, 57, 0.1);
	 background-color: #fff;
	 padding: 32px 0 41px 0;
}
 .warranty__section .warranty__card:last-child {
	 margin-right: 0;
}
 .warranty__section .warranty__icon {
	 width: 96px;
	 height: 96px;
	 border-radius: 50%;
	 background: #e7f5ee;
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 margin: 0 auto;
	 margin-bottom: 34px;
}
 .warranty__section .warranty__icon img {
	 width: 32px;
	 height: 32px;
}
 .warranty__section .warranty__text {
	 font-family: 'Rubik';
	 font-weight: 400;
	 font-size: 16px;
	 line-height: normal;
	 text-align: center;
	 color: #08200e;
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 width: 80%;
	 margin: 0 auto;
	 height: 40px;
}
 .feedback__section {
	 margin-bottom: 96px;
}
 .feedback__section h2.section__title {
	 text-align: center;
}
 .feedback__section .form__wrapp {
	 width: 556px;
	 padding: 32px 78px 56px;
	 box-shadow: 0 5px 10px 0 rgba(58, 57, 57, 0.1);
	 background-color: #fff;
	 margin: 0 auto;
}
 .user__form label {
	 font-size: 12px;
	 line-height: 1.5;
	 color: #7b8488;
	 font-family: 'Rubik';
	 font-weight: 400;
	 display: block;
	 margin-bottom: 6px;
}
 .user__form .flex {
	 display: flex;
	 justify-content: space-between;
}
 .user__form .flex > div {
	 margin: 0;
}
 .user__form .gap--bottom {
	 margin-bottom: 24px;
}
 .user__form .w-400 {
	 width: 400px !important;
	 margin-left: auto;
	 margin-right: auto;
}
 .user__form .w-144 {
	 width: 144px !important;
	 margin-left: auto;
	 margin-right: auto;
}
 .user__form .w-320 {
	 width: 320px !important;
	 margin-left: auto;
	 margin-right: auto;
}
 .user__form input:not([type="submit"]), .user__form textarea {
	 width: 100%;
	 height: 40px;
	 border-radius: 4px;
	 border: solid 2px #dee1e5;
	 background-color: #fff;
	 padding: 12px;
	 font-family: 'Rubik';
	 font-weight: 400;
	 font-size: 12px;
	 line-height: 1.5;
	 letter-spacing: normal;
	 color: #08200e;
	 display: block;
}
 .user__form input:not([type="submit"]):focus, .user__form textarea:focus, .user__form input:not([type="submit"]):active, .user__form textarea:active {
	 border: solid 2px #c7e7d7;
	 outline: none;
}
 .user__form textarea {
	 width: 100%;
	 height: 96px;
}
 .user__form [type="submit"] {
	 height: 48px;
	 margin: 40px 0 0;
	 padding: 15px 75px 14px 75px;
	 border-radius: 4px;
	 background-color: #169a5a;
	 width: 100%;
	 font-family: 'Rubik';
	 font-weight: 500;
	 font-size: 16px;
	 line-height: normal;
	 text-align: center;
	 color: #fff;
	 cursor: pointer;
	 transition: 0.3s all ease-in-out;
}
 .user__form [type="submit"]:hover {
	 background: #13844d;
	 transition: 0.3s all ease-in-out;
}
 .user__form hr {
	 width: 100%;
	 margin: 0;
	 height: 1px;
	 background: #efefef;
	 margin-top: 40px;
	 margin-bottom: 32px;
}
 .user__form input.error__border {
	 border: solid 1px #e76d7c;
	 margin-bottom: 4px;
}
 .user__form input.error__border:active, .user__form input.error__border:focus {
	 border: solid 1px #e76d7c;
}
 .user__form .error {
	 font-family: 'Rubik';
	 font-weight: 400;
	 font-size: 12px;
	 line-height: normal;
	 color: #e8344d;
	 display: none;
}
 .user__form .error__border ~ .error {
	 display: block;
}
 .outline {
	 width: 200px;
	 display: block;
	 padding: 13px;
	 background: white;
	 border: 2px solid #169a5a;
	 color: #169a5a;
	 height: 48px;
	 margin: 40px 0 0;
	 margin-left: auto;
	 margin-right: auto;
	 border-radius: 4px;
	 font-family: 'Rubik';
	 font-weight: 500;
	 font-size: 16px;
	 line-height: normal;
	 text-align: center;
	 cursor: pointer;
	 transition: 0.3s all ease-in-out;
}
 .outline:hover {
	 background: #e7f5ee;
}
 .subtitle {
	 font-family: 'Rubik';
	 font-weight: 400;
	 font-size: 24px;
	 line-height: normal;
	 letter-spacing: normal;
	 color: #08200e;
	 margin-bottom: 32px;
}
 footer {
	 padding-bottom: 32px;
}
 footer p {
	 text-align: center;
	 font-family: 'Rubik';
	 font-weight: 400;
	 font-size: 14px;
	 line-height: normal;
	 letter-spacing: normal;
	 color: #000;
}
 .car__card--horisontal {
	 height: unset;
	 width: 100%;
	 padding: 24px 32px 16px 40px;
	 border-radius: 4px;
	 box-shadow: 0 5px 10px 0 rgba(58, 57, 57, 0.1);
	 background-color: #fff;
	 display: flex;
	 align-items: center;
	 margin-bottom: 16px;
}
 .car__card--horisontal:last-child {
	 margin-bottom: 45px;
}
 .car__card--horisontal .car__img {
	 margin-bottom: 0;
}
 .car__card--horisontal .car__preview {
	 width: 246px;
	 margin-right: 60px;
	 align-self: flex-start;
	 flex-shrink: 0;
}
 .car__card--horisontal .car__model {
	 font-family: 'Rubik';
	 font-weight: 400;
	 font-size: 24px;
	 line-height: normal;
	 color: #08200e;
	 margin-bottom: 28px;
}
 .car__card--horisontal .car__params {
	 border: unset;
	 padding: 0;
	 align-self: flex-start;
	 display: block;
}
 .car__card--horisontal .param__legend {
	 width: 140px;
	 font-family: 'Rubik';
	 font-weight: 400;
	 font-size: 16px;
	 line-height: normal;
	 color: #7b8488;
	 margin-right: 10px;
}
 .car__card--horisontal .param__data {
	 width: 150px;
	 font-family: 'Rubik';
	 font-weight: 500;
	 font-size: 16px;
	 line-height: normal;
	 color: #08200e;
}
 .car__card--horisontal .car__price {
	 padding: 0;
	 align-items: flex-start;
	 margin-left: auto;
}
 .car__card--horisontal .car__select__btn {
	 display: block;
	 font-family: 'Rubik';
	 font-weight: 500;
	 font-size: 16px;
	 line-height: normal;
	 text-align: center;
	 color: #169a5a;
	 width: 240px;
	 padding: 19px 19px 18px 20px;
	 border-radius: 4px;
	 border: solid 2px #169a5a;
	 background-color: #fff;
	 height: 56px;
	 flex-shrink: 0;
	 margin-left: 100px;
}
 .car__card--horisontal .car__select__btn:hover {
	 background: #fafafa;
}
 .car__info__block {
	 margin-bottom: 96px;
	 display: flex;
	 align-items: flex-start;
}
 .car_gallery {
	 width: 600px;
}
 .car_gallery .car_gallery_for {
	 width: 100%;
	 height: 360px;
	 margin: 0 0 8px;
	 padding: 12px;
	 border-radius: 2px;
	 box-shadow: 0 5px 10px 0 rgba(58, 57, 57, 0.1);
	 background-color: #fff;
}
 .car_gallery .car_gallery_for .main__gallery__photo {
	 width: 100%;
	 height: 100%;
	 object-fit: contain;
}
 .car_gallery .car_gallery_nav {
	 display: flex;
	 align-items: center;
}
 .car_gallery .car_gallery_nav__item {
	 width: 80px;
	 height: 80px;
	 border-radius: 2px;
	 border: solid 2px white;
	 box-shadow: 0 5px 10px 0 rgba(58, 57, 57, 0.1);
	 background-color: #fff;
	 cursor: pointer;
	 margin-right: 12px;
}
 .car_gallery .car_gallery_nav__item:last-child {
	 margin-right: 0;
}
 .car_gallery .car_gallery_nav__item img {
	 width: 100%;
	 height: 100%;
	 object-fit: contain;
}
 .car_gallery .car_gallery_nav__item.active {
	 border: solid 2px #169a5a;
}
 .car__info {
	 border: solid 1px #efefef;
	 width: 575px;
	 margin-left: auto;
}
 .car__info__title {
	 display: flex;
	 align-items: center;
	 padding: 16px 24px;
	 border-bottom: solid 1px #efefef;
}
 .car__info__title .car__name {
	 font-family: 'Rubik';
	 font-weight: 400;
	 font-size: 32px;
	 line-height: normal;
	 color: #08200e;
	 max-width: 80%;
	 white-space: nowrap;
	 text-overflow: ellipsis;
	 overflow: hidden;
	 margin-right: 24px;
}
 .car__info__title .car__city {
	 font-family: 'Rubik';
	 font-weight: 500;
	 font-size: 16px;
	 line-height: normal;
	 color: #169a5a;
}
 .car__info .car__info__date {
	 padding: 24px;
	 display: flex;
	 border-bottom: solid 1px #efefef;
}
 .car__info .car__info__date .car__info__item {
	 display: flex;
	 width: 50%;
}
 .car__info .car__info__params {
	 padding: 24px;
	 border-bottom: solid 1px #efefef;
}
 .car__info .car__info__params .car__info__item {
	 margin-bottom: 16px;
}
 .car__info .car__info__params .car__info__item:last-child {
	 margin-bottom: 0;
}
 .car__info .car__info__params .car__info__item .legend {
	 width: 140px;
}
 .car__info__item {
	 display: flex;
}
 .car__info__item .legend {
	 font-family: 'Rubik';
	 font-weight: 400;
	 font-size: 16px;
	 line-height: normal;
	 color: #7b8488;
	 margin-right: 14px;
}
 .car__info__item .data {
	 font-family: 'Rubik';
	 font-weight: 500;
	 font-size: 16px;
	 line-height: normal;
	 color: #08200e;
}
 .car__info__item .data span {
	 margin-right: 8px;
}
 .car__info__item .data span:last-child {
	 margin-right: 0;
}
 .car__info__price {
	 padding: 20px 24px;
	 display: flex;
}
 .car__info__price > div {
	 width: 50%;
}
 .car__info__price .price {
	 font-family: 'Rubik';
	 font-weight: 500;
	 font-size: 24px;
	 line-height: normal;
	 text-align: center;
	 color: #159b59;
	 margin-bottom: 8px;
}
 .car__info__price .price__descr {
	 font-family: 'Rubik';
	 font-weight: 400;
	 font-size: 16px;
	 line-height: normal;
	 text-align: center;
	 color: #7b8488;
}
 .car__info .btn__select {
	 width: 240px;
	 height: 56px;
	 padding: 19px 20px;
	 border-radius: 4px;
	 background-color: #169a5a;
	 font-family: 'Rubik';
	 font-weight: 500;
	 font-size: 16px;
	 line-height: normal;
	 letter-spacing: normal;
	 color: #fff;
	 text-align: center;
	 margin-left: auto;
	 flex-shrink: 0;
}
 .car__info .btn__select:hover {
	 background: #13844d;
}
 .checkbox {
	 position: relative;
}
 .checkbox input {
	 position: absolute;
	 right: 0;
	 top: 0;
	 width: 0;
	 height: 0;
	 opacity: 0;
	 pointer-events: none;
}
 .checkbox .checkmark {
	 display: block;
	 height: 24px;
	 width: 24px;
	 border-radius: 4px;
	 border: solid 1.5px #cccfd1;
	 background-color: #fff;
	 transition: 0.3s all ease-in-out;
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 cursor: pointer;
}
 .checkbox .checkmark:before {
	 content: '';
	 display: block;
	 width: 15px;
	 height: 15px;
	 background: transparent url(../img/icon/icon-check.png) center center no-repeat;
	 background-size: cover;
	 opacity: 0;
}
 .checkbox input:checked ~ .checkmark {
	 border: solid 1.5px #c7e7d7;
	 transition: 0.3s all ease-in-out;
}
 .checkbox input:checked ~ .checkmark:before {
	 opacity: 1;
}
 .checkout__section {
	 margin-top: 40px;
}
 .tab__navigation {
	 width: 100%;
	 height: 72px;
	 border-radius: 4px;
	 box-shadow: 0 20px 30px 0 rgba(58, 57, 57, 0.1);
	 background-color: #fff;
}
 .tab__navigation ul {
	 display: flex;
}
 .tab__navigation li {
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 width: calc(100% / 3);
	 border-bottom: 4px solid white;
	 padding: 24px;
	 font-family: 'Rubik';
	 font-weight: 400;
	 font-size: 14px;
	 line-height: normal;
	 letter-spacing: normal;
	 color: #000;
	 cursor: pointer;
	 transition: 0.3s all ease-in-out;
}
 .tab__navigation li:hover {
	 background-color: #fafafa;
	 transition: 0.3s all ease-in-out;
	 border-bottom: 4px solid #fafafa;
}
 .tab__navigation li.active {
	 border-bottom: 4px solid #169a5a;
	 background-color: #fafafa;
}
 .tab__navigation li img {
	 width: 24px;
	 height: 24px;
	 margin-right: 12px;
}
 .tab__blocks {
	 position: relative;
}
 .tab__pane {
	 opacity: 0;
	 pointer-events: none;
	 height: 0;
	 transition: opacity 0.3s ease-in-out;
	 overflow: hidden;
	 padding: 0;
}
 .tab__pane.show {
	 pointer-events: all;
	 opacity: 1;
	 height: unset;
	 transition: opacity 0.3s ease-in-out;
	 padding-top: 40px;
	 padding-bottom: 65px;
}
 .order__data .car__info {
	 margin: 0 auto;
}
 .order__data .car__info__price {
	 justify-content: center;
}
 .thanks__page {
	 min-height: 800px;
	 height: 100vh;
	 position: relative;
	 display: flex;
	 align-items: center;
}
 .thanks__page footer, .thanks__page nav {
	 position: absolute;
	 bottom: 0;
	 left: 0;
	 right: 0;
	 margin: 0 auto;
}
 .thanks__page nav {
	 bottom: unset;
	 top: 0;
}
 .thanks__page nav {
	 margin-bottom: 48px;
}
 .thanks__section {
	 margin-bottom: 78px;
}
 .thanks__section h1 {
	 text-align: center;
	 font-size: 36px;
	 font-family: 'Rubik';
	 font-weight: 700;
	 line-height: 1.33;
	 letter-spacing: normal;
	 color: #169a5a;
	 margin-bottom: 16px;
}
 .thanks__section p {
	 font-family: 'Rubik';
	 font-weight: 400;
	 font-size: 18px;
	 line-height: 1.78;
	 letter-spacing: normal;
	 color: #7b8488;
	 text-align: center;
	 margin-bottom: 16px;
}
 .thanks__section img {
	 width: 601px;
	 height: 433px;
	 object-fit: contain;
	 margin: 0 auto;
	 display: block;
}
 